
   
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.idea
schema
scratch

server
.terraform.lock.hcl
.terraform
terraform.tfstate
terraform.tfstate.*

*.pem
*.pub
main
.env